
.main{
    text-align: center;
}
.main h1{
   font-size: clamp(28px, 6vw, 70px);
    text-align: center;
    color: rgb(77, 100, 228);
}

.main h2{
    font-size: clamp(12px, 3vw, 40px);
    text-align: center;
    color: rgb(126, 132, 153);
}
.main h3{
    font-size: clamp(12px, 2vw, 40px);
    text-align: center;
    color: rgb(100, 100,100)
}
.main label{
    font-size: 30px;
    text-align: center;
    color: rgb(100, 100,100)
}
.main input{
    font-size: 30px;
    color: rgb(100, 100,100)
}



.main2 h2{
    font-size: clamp(20px, 4vw, 50px);
    text-align: center;
    color: rgb(126, 132, 153);
}
.main2 p{
    font-size: clamp(16px, 4vw, 24px);
    text-align: center;
    margin: 20px;
    color: rgb(100, 100, 100);
}



.rice-selection { 
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.riceImage{
    width: 150px;
    cursor: pointer;
    border: 3px solid transparent;
    border-radius: 10px;
    transition: 0.2;
}

.riceImage:hover{
    transform: scale(1.1);
}



.nextIndex4BTN:disabled{
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    font-size: clamp(16px, 4vw, 24px);
    cursor: not-allowed;
    background-color: #cccccc;
    color: #666;
    opacity: 0.7;
    border: 1px solid #999;
    border-radius: 10px;
}

.nextIndex4BTN:not(:disabled){
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    font-size: clamp(16px, 4vw, 24px);
    background-color: rgb(77, 100, 228);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}