
   h1{
    font-size: clamp(28px, 6vw, 70px);
    text-align: center;
    color: rgb(228, 168, 77);
   }

   h2{
    font-size: clamp(20px, 5vw, 35px);
    text-align: center;
    margin: 20px 0;
   }

   button{
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: clamp(16px,4vw,24px);
    background-color: rgb(216, 191, 90);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}