h1{
    font-size: clamp(28px, 6vw, 70px);
    text-align: center;
    color: rgb(228, 168, 77);
}

h2{
    font-size: clamp(20px, 4vw, 40px);
    padding: 10px;
    color: rgb(64, 130, 152);
    text-align: center;
}
h3{
    font-size: clamp(15px,3vw, 30px);
    text-align: center;
    
}
#income, #expence, #total {
    opacity: 0;
    transition: opacity 0.5s;

}

button{
    height: 50px;
    padding: 10px 20px;
    font-size: clamp(16px,4vw,24px);
    background-color: rgb(216, 191, 90);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



img{
    
    width: 200px;
    height: auto;
}

#last {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    #last {
        flex-direction: column; /* 縦並びにする */
        gap: 10px;
    }
    
    img {
        width: 150px; /* 画像を少し小さくする */
    }
    
    h2 {
        font-size: 18px; /* 文字サイズを微調整 */
    }
}
