@charset "UTF-8";

.welcome  {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}
.welcome h1 {
    font-size: clamp(28px, 6vw, 70px);
    text-align: center;
    color: rgb(228, 168, 77);
}

.welcome p {
    font-size: clamp(16px, 4vw, 24px);
    text-align: center;
    margin: 20px;
    color: rgb(100, 100, 100);
}

.start-button {
    display: block;
    width: fit-content;
    margin: 40px auto;
    padding: 15px 40px;
    text-decoration: none;
    font-weight: bold;
    font-size: clamp(16px, 4vw, 24px);
    background-color: rgb(228, 168, 77);
    color: white;
    border: none;
    border-radius: 5px;
    transition: transform 0.2;
} 

.start-button:hover{
    transform: scale(1.05);
    background-color: rgb(208, 148, 57);
}
.welcome figure img {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%; height: auto;
}

.welcome .animation1-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;

}

.animation1-container img{
    width: 70%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 480px) {
    .welcome .animation1-conteier{
        width: 100px;
        height: 100px;
    }
    
}